.navbar {
  flex-grow: 1;
  padding: 0;
  text-align: -webkit-center;
}

.title {
  flex-grow: 1;
  text-align: left;
  text-decoration: none;
  color: white;
}

.title:hover {
  color: white;
  text-decoration: none;
}

.display {
  display: contents;
}

.button-w-outline {
  outline: 0 !important;
  text-transform: none !important;
  text-decoration: none;
  color: white;
}

.button-w-outline:hover {
  color: white;
  text-decoration: none;
}

.display-logo-name {
  display: none !important;
}

.display-logo {
  display: block;
}

@media only screen and (min-width: 400px) {
  .display-logo-name {
    display: block !important;;
  }
  .display-logo {
    display: none;
  }
}


